.idea/
project/project
project/target
.bsp/
kafka/data
jars/*
!jars/.gitkeep
.DS_Store
src/.DS_Store
src/main/.DS_Store

# Allow plugins.sbt in project directory
!project/plugins.sbt
target
pgadmin
hive_warehouse
spark-logs